body,
html {
  background-color: #c5d0dd;
  min-width: 270px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Martel", serif;
  margin-bottom: 40px;
}

h1 {
  color: #2b394a;
  font: 60px "Karla", serif;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center;
  font: 18px;
  margin: -20px 50px;
  color: #2b394a;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 75%;
  outline: none;
  font: 16pt "Karla", serif;
  border-radius: 5px;
  padding: 10px;
  max-width: 500px;
  resize: none;
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 50px;
  }
}
